{%- set rootsite = this.menu.split("/")[1]%}
{%- set rootprefix = bag('prefix', rootsite) %}
{% if rootprefix != "/" + rootsite %}
    {%- set menu = "/" + "/".join(this.menu.split("/")[2:]) %}
{%- else %}
    {%- set menu = this.menu %}
{%- endif %}
{%- set rootitem = site.get(menu)%}

<ul>
{%- for section in rootitem.children|sort(attribute="sort_key") recursive %}
    <li>
    <a href="{{section.path|url}}">{{section.title}}</a>{% if section.tocdesc %} &mdash; {{section.tocdesc }}{% endif %}
    {%- if section.children %}
    <ul>
        {%- for subsection in section.children|sort(attribute="sort_key") %}
        <li><a href="{{subsection.path|url}}">{{subsection.title}}</a>{% if subsection.tocdesc %} &mdash; {{subsection.tocdesc }}{% endif %}
        {%- endfor %}
    </ul>
    {%- endif %}
    </li>
{%- endfor %}
</ul>
