{% extends "base-about.html" %}
{% set active_page = "roadmap" %}

{% from "macros/roadmap-card.html" import render_roadmap_card %}
{% block page_title %}Roadmap{% endblock %}
{% block page_body %}
<section class="install-section section-content-white-bg">
    <div class="container">
        <div class="row">
        <div class="col-sm-4">
            <span class="section-title-light-bg">Current</span>
        </div>
        <div class="col-sm-4">
            <span class="section-title-light-bg">Near-term</span>
        </div>
        <div class="col-sm-4">
            <span class="section-title-light-bg">Future</span>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            {%- if this.column == 'current' %}
                {{ render_roadmap_card(this) }}
            {%- endif %}
            </div>
            <div class="col-sm-4">
            {%- if this.column == 'near-term' %}
                {{ render_roadmap_card(this) }}
            {%- endif %}
            </div>
            <div class="col-sm-4">
            {%- if this.column == 'future' %}
                {{ render_roadmap_card(this) }}
            {%- endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
