{% extends "base-about.html" %}

{% from "macros/roadmap-card.html" import render_roadmap_card %}
{% block title %}Roadmap{% endblock %}
{% block body %}
<section class="roadmap-section">
    <div class="container">
        <div clas="row">
            <h1>Roadmap</h1>
            <hr />
        </div>
        <div class="row">
            <div class="container">
                <div class="alert alert-info">
                <p><strong>InvenioRDM</strong>: We are in the process of moving Zenodo on top of the InvenioRDM repository platform.</p>
                <p>
                <p>Checkout the <a href="https://inveniordm.web.cern.ch">InvenioRDM Demo Site</a> to see e.g.:</p>
                <ul>
                    <li>Community teams management and multiple curators.</li>
                    <li>Author/creator auto-completion</li>
                    <li>Previewing records prior to publishing</li>
                </ul>
                </p>

                <p>
                Last, be sure to follow the <a href="https://inveniosoftware.org/products/rdm/roadmap/">InvenioRDM Roadmap</a>
                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 column">
                <span class="section-title">Current</span>
                <p>What we work on now</p>
                {%- for card in this.children if card.column == 'current' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title">Near-term</span>
                <p>What we plan working on next</p>
                {%- for card in this.children if card.column == 'near-term' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title">Future</span>
                <p>What we investigate</p>
                {%- for card in this.children if card.column == 'future' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
        </div>
        <div clas="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                Our roadmap helps us share what we are working on next and the direction that we're taking Zenodo. <br>The roadmap is updated quarterly in January, April, July and October. Questions, comments and feedback? <a href="https://zenodo.org/support">Contact us</a>
                </p>
                <p><small>Last update: January 27, 2023</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Completed</h2>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                    {%- for year, cards in this.children|selectattr('column', 'eq', 'completed')|groupby("year")|reverse %}
                        <details {{ 'open' if year >= (today().year - 1) }}>
                            <summary>
                                <h3>{{ year }}</h3>
                                <hr />
                            </summary>
                            <div class="row">
                                {%- for card in cards %}
                                <div class="col-md-4">
                                    {{ render_roadmap_card(card) }}
                                </div>
                                {%- endfor %}
                            </div>
                        </details>
                    {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
