{% extends "base-about.html" %}

{% from "macros/roadmap-card.html" import render_roadmap_card %}
{% block title %}Roadmap{% endblock %}
{% block body %}
<section class="roadmap-section">
    <div class="container">
        <div class="row">
            <h1>Roadmap</h1>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-4 column">
                <span class="section-title">Current</span>
                <p>What we work on now</p>
                {%- for card in this.children if card.column == 'current' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title">Near-term</span>
                <p>What we plan working on next</p>
                {%- for card in this.children if card.column == 'near-term' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title">Future</span>
                <p>What we investigate</p>
                {%- for card in this.children if card.column == 'future' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                Our roadmap helps us share what we are working on next and the direction that we're taking Zenodo. <br>The roadmap is updated quarterly in January, April, July and October.
                </p>
                <p><small>Last update: January 22, 2026</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Completed</h2>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                    {%- for year, cards in this.children|selectattr('column', 'eq', 'completed')|groupby("year")|reverse %}
                        <details {{ 'open' if year >= (today().year - 1) }}>
                            <summary>
                                <h3>{{ year }}</h3>
                            </summary>
                            <div class="row">
                                {%- for card in cards %}
                                <div class="col-md-4">
                                    {{ render_roadmap_card(card) }}
                                </div>
                                {%- endfor %}
                            </div>
                        </details>
                    {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
