.header-title {
  font-weight: 200;
  font-size: 33px;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: relative;
  top: -2px;
}

.header-subtitle li a span {
  font-weight: 200;
  font-size: 26px;
  color: black;
  display: inline-block;
  position: relative;
}

.navbar-right > li > a {
  font-weight: 300;
  font-size: 14px;
}

.logo-divider {
    width: 1px;
    height: 64px;
    display: inline-block;
    position: relative;
    top: 16px;
    left: -6px;
    margin-right:5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

.subbar {
    min-height: 10px;
}
.subbar > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}
.subbar > li {
  border-radius: 8px;
  margin-right: 5px;
}
.subbar > li.active {
  background-color: #eeeeee;
}

h5 {
  font-weight: 700!important;
}

.section-title {
  -webkit-font-smoothing: antialiased;
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 45px;
  font-weight: 500;
}

.roadmap-section .panel-heading {
  text-align: left;
  font-size: 14px;
  font-weight: 450;
  margin-top: -1px;
  min-height: 28px;
  border-radius: 4px 4px 0 0;
  padding: 4px 8px;
  justify-content: space-between;
  vertical-align: baseline;
}

.roadmap-section .column .section-title {
  margin-bottom: 5px;
}

.roadmap-section .section-title {
  margin-bottom: 5px;
}

.roadmap-section .column>p {
  text-align: center;
  padding-bottom: 40px;
}

.roadmap-section .intro {
  padding-bottom: 3%;
  text-align: center;
}

.roadmap-section .feedback h3 {
  margin-top: 3em;
}

.roadmap-section .panel-heading.development {
  background-color: #0090e4 !important;
  color: #fff;
}

.roadmap-section .panel-heading.projects {
  background-color: #f4416d !important;
  color: #fff;
}

.roadmap-section .panel-heading.devops {
  background-color: rgb(0, 216, 169) !important;
  color: #fff;
}

.roadmap-section .panel-title {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}

.roadmap-section .card-description {
  font-size: 15px;
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}

summary {
  cursor: pointer;
}
